<nav class="navbar navbar-inverse navbar-fixed-top header" style="
    background: #5cdb95;
    color: #05386b!important;
    border: none!important;">
  
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:void(0)" style="/* color: white; *//* font-size: 200%; *//* margin-inline-start: 7%; */">GEM</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar" style="font-size: 88%;">
				<ul class="nav navbar-nav custom-nav" style="font-family: 'Open Sans', 'serif';">
					<li>
						<a href="../index.htm">Home</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Entities/INTERLOCKS.htm">Corporate Government Interlocks</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Entities/POLITICALECONOMY.htm">Political Economy</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Entities/MASSMEDIABASIS.htm">Media Bias</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Entities/SOCIO-ECODEV.htm">Socio-Economic Development</a>
					</li>
					<li>
						<a href="http://act4d.iitd.ac.in/act4dgem/Urbanization/index.html">Urbanization</a>
					</li>
					
				</ul>
				
			</div>
		</div>
	</nav>
